<style>
  .image {
  width: 280px;
  height: 280px;
  background: url('https://source.unsplash.com/1600x900/?bank,money') center no-repeat;
  background-size: cover;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  animation: clips 3s ease infinite;
}
  
  </style>